@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow-x: hidden;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .menu{
    border-bottom: 4px solid transparent;
    /* border-image: linear-gradient(90deg, #7cc140, #388fcb ) 1; */
}
.menu:hover{
    border-bottom: 4px solid red;
    border-image: linear-gradient(90deg, #7cc140, #388fcb ) 1;
    border-radius: 20%;
}
.hero{
    background: url('./assets/LargeBubble.png') no-repeat  center center;
}
.Bubble{
  animation: rotate 30s linear forwards infinite;
  scale: 1.05;
  /* animation-duration: 5.5s;
  animation-delay: 3.3s; */
}
@keyframes rotate {
  0% {
      transform: rotate(0deg);
      
  }
  100%{
      transform: rotate(360deg);
  }
}
.Bubble1{
  animation: rotate 30s linear forwards infinite;
}
.BubbleM1{
  animation: rotate 10s linear forwards infinite;
}
.BubbleM2{
  animation: rotate 9s linear forwards infinite;
}
.image-animation {
  position: absolute;
  animation: fadeAnimation 3s infinite; /* 3 seconds ke baad loop reset ho ga */
}

.small {
  top: -4px;
  right: -8px;
  z-index: 1;
  opacity: 0;
  animation-delay: 0s;
}

.medium {
  top: -13px;
  right: -15px;
  z-index: 2;
  opacity: 0;
  animation-delay: 1s; /* Medium pe 1s ke baad transition ho ga */
}

.large {
  top: -20px;
  right: -23px;
  z-index: 3;
  opacity: 0;
  animation-delay: 2s; /* Large pe 2s ke baad transition ho ga */
}

@keyframes fadeAnimation {
  0%, 100% {
    opacity: 0;
  }
  33.33% {
    opacity: 1;
  }
  66.66% {
    opacity: 0;
  }
}
.topEffect{
  animation: rotateangle 3s  linear forwards infinite;
  z-index: -0;
} 
@keyframes rotateangle {
  0%{
    transform: rotate(-22deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.rect{
  /* z-index: -1 !important; */
  /* background: url('../src/assets/Rectangle.png') no-repeat center center; */
}